body{
    background-image: url(https://wallpapers.com/images/hd/berserk-background-j71etq8yhdbd1f5p.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}